In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [23]:
df = pd.read_csv('MCI_data.csv',sep=',')

In [24]:
df

,X,Y,OBJECTID,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,...,UCR_CODE,UCR_EXT,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
0,-79.425896,43.757346,1,GO-20141262074,2014/01/01 05:00:00+00,1998/06/01 04:00:00+00,2014,January,1,1,...,1480,110,Administering Noxious Thing,Assault,38,Lansing-Westgate,38,Lansing-Westgate (38),-79.425896,43.757346
1,-79.350229,43.646293,2,GO-20141260701,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,2120,200,B&E,Break and Enter,70,South Riverdale,70,South Riverdale (70),-79.350229,43.646293
2,-79.376497,43.666423,3,GO-20141260889,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,74,North St.James Town,74,North St.James Town (74),-79.376497,43.666423
3,-85.488744,0.000000,4,GO-20141260973,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,2130,210,Theft Over,Theft Over,NSA,NSA,NSA,NSA,-85.488744,0.000000
4,-79.344839,43.678946,5,GO-20141261050,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,...,1430,100,Assault,Assault,69,Blake-Jones,66,Danforth (66),-79.344839,43.678946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323291,-79.301740,43.736102,323292,GO-20222554300,2022/12/31 05:00:00+00,2022/12/22 05:00:00+00,2022,December,31,365,...,2120,220,B&E W'Intent,Break and Enter,119,Wexford/Maryvale,119,Wexford/Maryvale (119),-79.301740,43.736102
323292,-79.258639,43.828794,323293,GO-20222557893,2022/12/31 05:00:00+00,2022/12/31 05:00:00+00,2022,December,31,365,...,2120,200,B&E,Break and Enter,130,Milliken,130,Milliken (130),-79.258639,43.828794
323293,-79.425645,43.701404,323294,GO-20222559486,2022/12/31 05:00:00+00,2022/12/22 05:00:00+00,2022,December,31,365,...,1430,100,Assault,Assault,102,Forest Hill North,102,Forest Hill North (102),-79.425645,43.701404
323294,-79.385170,43.672134,323295,GO-20222557956,2022/12/31 05:00:00+00,2022/12/31 05:00:00+00,2022,December,31,365,...,1430,100,Assault,Assault,98,Rosedale-Moore Park,98,Rosedale-Moore Park (98),-79.385170,43.672134
323295,-79.248081,43.736690,323296,GO-20222558010,2022/12/31 05:00:00+00,2022/12/31 05:00:00+00,2022,December,31,365,...,2120,200,B&E,Break and Enter,138,Eglinton East,138,Eglinton East (138),-79.248081,43.736690

In [25]:
col_list = ['OCC_YEAR','OCC_MONTH','OCC_DAY','OCC_DOY','OCC_DOW','OCC_HOUR','MCI_CATEGORY','DIVISION','HOOD_158','PREMISES_TYPE']

In [45]:
df2 = df[col_list]
df2 = df2[df2['OCC_YEAR'] > 2013]

In [27]:
crime_var = pd.factorize(df2['MCI_CATEGORY'])
df2['MCI_CATEGORY'] = crime_var[0]
definition_list_MCI = crime_var[1]

In [46]:
df2

,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOY,OCC_DOW,OCC_HOUR,MCI_CATEGORY,DIVISION,HOOD_158,PREMISES_TYPE
1,2014.0,January,1.0,1.0,Wednesday,3,Break and Enter,D51,70,Commercial
2,2014.0,January,1.0,1.0,Wednesday,4,Assault,D51,74,Apartment
3,2014.0,January,1.0,1.0,Wednesday,4,Theft Over,NSA,NSA,Outside
4,2014.0,January,1.0,1.0,Wednesday,4,Assault,D54,69,Outside
5,2014.0,January,1.0,1.0,Wednesday,2,Assault,D52,164,Commercial
...,...,...,...,...,...,...,...,...,...,...
323291,2022.0,December,22.0,356.0,Thursday,8,Break and Enter,D41,119,House
323292,2022.0,December,31.0,365.0,Saturday,3,Break and Enter,D42,130,Commercial
323293,2022.0,December,22.0,356.0,Thursday,16,Assault,D53,102,Apartment
323294,2022.0,December,31.0,365.0,Saturday,4,Assault,D53,98,Commercial
323295,2022.0,December,31.0,365.0,Saturday,4,Break and Enter,D43,138,Commercial

In [28]:
premise_var = pd.factorize(df2['PREMISES_TYPE'])
df2['PREMISES_TYPE'] = premise_var[0]
definition_list_premise = premise_var[1]

In [29]:
year_var = pd.factorize(df2['OCC_YEAR'])
df2['OCC_YEAR'] = year_var[0]
definition_list_year = year_var[1]

In [30]:
month_var = pd.factorize(df2['OCC_MONTH'])
df2['OCC_MONTH'] = month_var[0]
definition_list_month = month_var[1]

In [31]:
day_var = pd.factorize(df2['OCC_DAY'])
df2['OCC_DAY'] = day_var[0]
definition_list_day = day_var[1]

In [32]:
dayweek_var = pd.factorize(df2['OCC_DOW'])
df2['OCC_DOW'] = dayweek_var[0]
definition_list_day = dayweek_var[1]

In [33]:
division_var = pd.factorize(df2['DIVISION'])
df2['DIVISION'] = division_var[0]
definition_list_division = division_var[1]

In [34]:
hood_var = pd.factorize(df2['HOOD_158'])
df2['HOOD_158'] = hood_var[0]
definition_list_hood = hood_var[1]

In [35]:
hour_var = pd.factorize(df2['OCC_HOUR'])
df2['OCC_HOUR'] = hour_var[0]
definition_list_hour = hour_var[1]

In [36]:
dayyear_var = pd.factorize(df2['OCC_DOY'])
df2['OCC_YEAR'] = dayyear_var[0]
definition_list_dayyear = dayyear_var[1]

In [37]:
X = df2.drop(['MCI_CATEGORY'],axis=1).values

In [38]:
y = df2['MCI_CATEGORY'].values

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 21)

In [40]:
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 42)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [41]:
print(accuracy_score(y_test, y_pred)) 
print(classification_report(y_test,y_pred, target_names=definition_list_MCI))

0.6388685201526205
                 precision    recall  f1-score   support

Break and Enter       0.57      0.46      0.51     15543
        Assault       0.68      0.84      0.75     43076
     Theft Over       0.13      0.02      0.04      2632
        Robbery       0.60      0.34      0.43      7586
     Auto Theft       0.56      0.47      0.51     11624

       accuracy                           0.64     80461
      macro avg       0.51      0.43      0.45     80461
   weighted avg       0.61      0.64      0.62     80461

In [51]:
df3 = df[col_list]
df3 = df3[df3['OCC_YEAR'] == 2020]
df3

,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOY,OCC_DOW,OCC_HOUR,MCI_CATEGORY,DIVISION,HOOD_158,PREMISES_TYPE
211510,2020.0,January,1.0,1.0,Wednesday,3,Auto Theft,D14,164,Commercial
211516,2020.0,January,1.0,1.0,Wednesday,3,Assault,D51,166,Outside
211517,2020.0,January,1.0,1.0,Wednesday,5,Assault,D31,24,Apartment
211518,2020.0,January,1.0,1.0,Wednesday,0,Assault,D22,158,Outside
211519,2020.0,January,1.0,1.0,Wednesday,3,Assault,D22,18,Outside
...,...,...,...,...,...,...,...,...,...,...
321270,2020.0,February,1.0,32.0,Saturday,12,Assault,D12,30,Apartment
321319,2020.0,April,1.0,92.0,Wednesday,6,Assault,D31,25,House
322226,2020.0,January,1.0,1.0,Wednesday,8,Assault,D22,159,Apartment
322227,2020.0,January,1.0,1.0,Wednesday,8,Assault,D22,159,Apartment
323247,2020.0,August,1.0,214.0,Saturday,0,Assault,D52,165,Apartment